.event-list{
    .event-list-head{
        text-align: center;

        h1{
            color: rgb(24, 24, 24);
        }
    }

    .event-list-events{
        text-align: left;
        font-size: 25px;
        font-weight: 500;
        color: rgb(24, 24, 24);
        padding: 0 10%;
    }

    .event{
        
    }
}